
h1{
    text-align:center;
}
.firstimage{
      background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
      background-size:cover;
    width:100%;
    height:600px;
      color:white;
      text-align:center;

     
      
}
.servicesection{
           background-image:url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
           background-size:cover;
           width:100%;
           height:300px;
           color:white;
           text-align:center;
          
}
.contactussection{
               background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
               background-size:cover;
               width:100%;
               height:490px;
               color:white;
               text-align: center;
}
.whatwedosection{
                text-align:center;
}
.dedepro{
         display: flex;
         justify-content:space-between;
         position:relative;
         right: -90px;
         padding:15px;
}
#row1{
     padding:15%;
     justify-content: space-around;
}
#row2{
     padding:15%;
     justify-content: space-around;
}
.iconsection{
        text-align:center;
        position: relative;
        bottom : -100px;
}
#designtext{
          display:none;
          text-align: center;
}
#developmentext{
        display:none;
}
#productext{
       display:none;
}
